// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap variables and functions

@import '../bootstrap/scss/_functions';
@import '../bootstrap/scss/_variables';

// Custom Bootstrap variables

$custom-theme-colors: (
    "th-primary": #D83787,
    "th-secondary": #2A1B3D,
    "th-tertiary": #443182,
    "th-info": #7D62A0,
    "th-grey": #A4B3B6 
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$form-check-input-checked-bg-color: map-get($map: $custom-theme-colors, $key: "th-primary");
$form-check-input-checked-border-color: map-get($map: $custom-theme-colors, $key: "th-primary");
$form-switch-focus-color: map-get($map: $custom-theme-colors, $key: "th-primary");
$form-switch-focus-bg-image:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{rgba($form-switch-focus-color, 0.6)}'/></svg>");
$form-check-input-focus-border: map-get($map: $custom-theme-colors, $key: "th-primary");
$form-check-input-focus-box-shadow: 0 0 0px 3px rgba(map-get($map: $custom-theme-colors, $key: "th-primary"), 0.4);


// Bootstrap
@import '../bootstrap/scss/bootstrap.scss';

// Fonts

@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/Quicksand.ttf);
    font-weight: normal;
    font-style: normal;
}

// Custom CSS + Bootstrap styles overriding

* {
    font-family: 'Quicksand', 'Nunito', 'comic-sans';
}

.form-control {
    transition: all 0.3s ease-in-out;   
}

.form-control:focus {
    transform: translate(2px, -2px);
    border-color: rgba(map-get($custom-theme-colors, "th-info"), 0.9);
    outline: none;
    box-shadow: -1.8px 3px 0 1.5px rgba(map-get($custom-theme-colors, "th-info"), 0.9);
}

.form-control.is-invalid:focus {
    transform: translate(2px, -2px);
    border-color: rgba(#dc3545, 1);
    outline: none;
    box-shadow: -1.8px 3px 0 1.5px rgba(#dc3545, 1);
}