/*VARIABLES COLORES*/
:root {
    --primario: #D83787;
    --secundario: #443182;
    --terciario: #2a1b3d;
    --suave: #7d62a0;
    --gris: #a4b3b6;
    --dark: #212121;
}

body {
    overflow-x: hidden;
}

.qty {
    width: 50px;
}

.img-cover {
    object-fit: cover;
    width: 100%; /* Asegura que la imagen ocupe tode el ancho del contenedor */
    height: 100%; /* Asegura que la imagen ocupe tode el alto del contenedor */
}

.img-container {
    position: relative; /* Establece el posicionamiento relativo en el contenedor */
    aspect-ratio: auto 1 / 1;
    overflow: hidden; /* Evita que las imágenes se desborden */
}

.carousel-item img {
    position: absolute; /* Establece el posicionamiento absoluto para las imágenes en cada slide */
    top: 0;
    left: 0;
}

.btn{
    padding: 0.5rem 1rem;
    /*font-size: 1.25rem;*/
    border-radius: 0;
    /*box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);*/
}

.contain{
    object-fit: contain;
}

.gallery li{
    display: inline;
    list-style: none;
    float: left;
    margin: 0 10px 10px 0;
}
