.navbar-toggler {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid transparent;
    position: relative;
    transition: .5s ease-in-out;
}

/* Estilo para el botón expandido */
.navbar-toggler:not(.collapsed) {
    background-color: transparent; /* Mantén el fondo transparente cuando está expandido */
    border: 2px solid var(--primario); /* Muestra el borde cuando está expandido */
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--suave);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.mid-bar {
    margin-top: 0px;
}

/*Estado abierto*/
.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(-90deg);
}

.navbar-toggler .mid-bar {
    margin-top: 0px;
}

.navbar-toggler .bot-bar {
    margin-top: 0px;
    transform: rotate(-90deg);
}

/*Estado collapsed*/
.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .mid-bar {
    margin-top: 0px;
    transform: rotate(0deg);
}


.navbar-toggler.collapsed .bot-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}
